@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  main {
    flex: 1 0 auto;
  }
     
  .home-subtitle {
    margin: 5% 0 5% 0;
  }

  .btn-devise{
  	width: 100%;
  }

  .show-title{
    margin-top: 0;
    font-size: 3.4em;
  }

  .show-img{
    padding-right: 5%;
}

  .show-prezzo{
    font-size: 2em;
}

.btn-form{
  width: 100%;
}

.card-image {
  height: 150px;
}

.pagination a li.active {
  color: #fff;
}

.class-logo {
  margin-top: 5px;
  margin-right: 3px;
  background-color: #000;
}

.fa-social{
  padding: 0 5%;
}

@media(max-width: 600px){
  .fa-social{
    padding: 0 10%;
  }

  .vi-logo{
  margin-left: 50px;
}
}


